/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 24 May 2023, 3:08:00 pm
    Author     : FarisHarr
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #DDE6ED;
}
/* container */
.container {
    display: flex;
    height: 500px;
    width: 800px;
    /* border: 1px solid black; */
    margin: auto;
    margin-top: 50px;
    box-shadow: 15px 15px 20px black;
}
/* email part */
.form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: grey;
}
.form h2 {
    font-size: 3rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 40px;
}
.form p {
    font-size: 1.5rem;
    font-family:'Times New Roman', Times, serif;
}
.box {
    padding: 12px;
    width: 65%;
    margin: 15px;
    border: 1px solid black;
    outline: none;
    border-radius: 20px;
}
#submit {
    padding: 12px 125px;
    width: 40%;
    margin-top: 40px;
    background-color: black;
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 20px;
}
#submit:hover {
    cursor: pointer;
    background-color: #0088a9;
}
