/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 24 May 2023, 2:58:41 pm
    Author     : FarisHarr
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #DDE6ED;
}
/* container */
.container {
    display: flex;
    height: 500px;
    width: 800px;
    /* border: 1px solid black; */
    margin: auto;
    margin-top: 50px;
    box-shadow: 15px 15px 20px black;
}
/* login form */
.form {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    background-color: grey;
}
.form h2 {
    font-size: 3rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 40px;
}
.box {
    padding: 12px;
    width: 65%;
    margin: 6px;
    border: 1px solid black;
    outline: none;
    border-radius: 20px;
}
#submit {
    padding: 12px 48px;
    width: 42%;
    margin-top: 40px;
    background-color: black;
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 20px;
}
#submit:hover {
    cursor: pointer;
    background-color: #0088a9;
    border: 1px solid  black;
}
.form a {
    text-decoration: none;
    color: black;
    margin-top: 20px;
}
.form a:hover {
    color: white;
}

/* right side */
.side {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: #24252a;
}
.side img {
    width: 100%;
    height: 100%;
}


/* terms */
.terms {
    margin-top: 0.2rem;
}
.terms input {
    height: 1em;
    width: 1em;
    vertical-align: middle;
    cursor: pointer;
}
.terms label {
    font-size: 0.7rem;
}
