/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 24 May 2023, 3:52:55 pm
    Author     : FarisHarr
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/* NavBar */
body {
    background-color: aliceblue;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: auto;
    height: 65px;
    background-color: #24252a;
}

.main {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

nav.pic {
    text-align: right;
}

* {
    margin: 0;
}

ul.nav_links {
    padding: 0px;
}

li,
a,
button {
    font-weight: 300;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

.logo {
    height: 70px;
    width: 70px;
}

.profilePic {
    cursor: pointer;
    height: 40px;
    width: 60px;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #0088a9;
}


.dropdown {
    position: relative;
    list-style: none;

}

.nav-link {
    display: inline-block;
    padding: 10px;
    margin-right: 80px;
    text-decoration: none;
    color: #ffffff;
}

.nav-link :hover{
    color: #0088a9;
}


.dropdown-content {
    display: none;
    position: absolute;
    list-style: none;
    background-color: #24252a;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px #0088a9;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content li {
    margin-bottom: 5px;
}


.dropdown-content a {
    display: block;
    padding: 5px 0;
    text-decoration: none;
    color: #ffffff;
}

.dropdown-content a:hover {
    border-radius: 10px;
    color: #0088a9;
    background-color: #24252a;
}

/* Page */

h1 {
    text-align: center;
    padding: 20px;
}
.top-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: aliceblue;
}

button{
    width: 120px;
    height: 35px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

div.table{
    background-color: white;
    margin-top: 0;
}

.table {
    display: grid;
    place-items: center;
}

table {
    border-collapse: collapse;
    width: 100%;
}


th {
    text-align: center;
    background-color: #f2f2f2;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

input[type=number] {
    width: 70px;
}

div.table{
    margin: 10px;
}

#table th,
#table td {
    padding: 8px;
    text-align: center;
    border: 1px solid #ddd;
}

#table button {
    border: none;
    background-color: transparent;
    padding: 0;
}

#table img {
    width: 20px;
    height: 20px;
}

#table th:nth-child(n+6),
#table td:nth-child(n+6) {
    text-align: center;
}

@media screen and (max-width: 600px) {

    #table th:nth-child(n+6),
    #table td:nth-child(n+6) {
        display: none;
    }
}

/* Footer */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #24252a;
    padding: 30px;
    text-align: center;
}

.footer p {
    color: #f2f2f2;
    margin: 5px 0;
}

